<div class="d-flex flex-wrap">
  <div class="col-md-8">
    <form class="row g-3" [formGroup]="form" (ngSubmit)="guardarProducto($event)">
      <div class="col-md-12">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre" placeholder="Ingrese su nombre">
      </div>
      <div class="col-md-12">
        <label class="form-label">Descripcion</label>
        <textarea type="text" rows="5" class="form-control"  formControlName="descripcion" placeholder="Ingrse su descripcion">
    </textarea>
      </div>
      <div class="col-md-4">
        <label class="form-label">Precio</label>
        <input type="number"   class="form-control"  formControlName="precio" placeholder="Ingrese un precio">
      </div>
      <div class="col-md-4">
        <label class="form-label">Stock</label>
        <input type="number"   class="form-control" formControlName="stock" placeholder="Ingrese el stock">
      </div>
      <div class="col-md-4">
        <label for="inputState1" class="form-label">Tipo</label>
        <select id="inputState1" class="form-select" formControlName="tipo">
          <option selected>seleccionar item</option>
          <option>Bien</option>
          <option>Servicio</option>
        </select>
      </div>
      <div class="col-12">
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-outline-info" (click)="nuevoProducto()">Nuevo</button>
          <button type="submit" class="btn btn-outline-success" [disabled]="form.invalid">Guardar</button>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="showImg" class="col-md-4 p-2">
    <img [src]="imgFile" width="100%" height="70%" class="rounded-2">
    <div class="col-md-12 p-2">
      <input type="file"  class="form-control"
             placeholder="Seleccione una imagen"
             (change)="onFileChange($event)">
    </div>
  </div>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Nombre</th>
    <th scope="col">Descripcion</th>
    <th scope="col">Precio</th>
    <th scope="col">stock</th>
    <th scope="col">Tipo</th>
    <th scope="col">Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of productos;index as i">
    <th scope="row">{{item.nombre}}</th>
    <td>{{item.descripcion}}</td>
    <td>{{item.precio}}</td>
    <td>{{item.stock}}</td>
    <td>{{item.tipo}}</td>
    <td>
      <div class="d-flex justify-content-evenly">
        <button type="button" class="btn btn-outline-primary" (click)="editarProducto(item)" >Editar</button>
        <button type="button" class="btn btn-outline-danger">Eliminar</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
